<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Color adjustment</string>
		<key>Sub</key>
		<array>
			<dict>
				<key>SubName</key>
				<string>Brightness</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-1</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Brightness</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-1</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Exposure</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-10</integer>
				<key>Max</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Contrast</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Saturation</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Gamma</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Vibrance</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<real>-1.2</real>
				<key>Max</key>
				<real>1.2</real>
			</dict>
			<dict>
				<key>SubName</key>
				<string>R-multiplier</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>G-multiplier</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>B-multiplier</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>SubName</key>
				<string>Saturation</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
