<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CategoryName</key>
		<string>颜色</string>
		<key>Sub</key>
		<array>
			<dict>
				<key>FilterName</key>
				<string>对比度</string>
				<key>FilterClassName</key>
				<string>GPUImageContrastFilter</string>
				<key>ArgumentName</key>
				<string>contrast</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>饱和度</string>
				<key>FilterClassName</key>
				<string>GPUImageSaturationFilter</string>
				<key>ArgumentName</key>
				<string>saturation</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>红色系数</string>
				<key>FilterClassName</key>
				<string>GPUImageRGBFilter</string>
				<key>ArgumentName</key>
				<string>red</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>蓝色系数</string>
				<key>FilterClassName</key>
				<string>GPUImageRGBFilter</string>
				<key>ArgumentName</key>
				<string>blue</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>绿色系数</string>
				<key>FilterClassName</key>
				<string>GPUImageRGBFilter</string>
				<key>ArgumentName</key>
				<string>green</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>色调</string>
				<key>FilterClassName</key>
				<string>GPUImageHueFilter</string>
				<key>ArgumentName</key>
				<string>hue</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-180</integer>
				<key>Max</key>
				<integer>180</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>自然饱和度</string>
				<key>FilterClassName</key>
				<string>GPUImageVibranceFilter</string>
				<key>ArgumentName</key>
				<string>vibrance</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<real>-1.2</real>
				<key>Max</key>
				<real>1.2</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>光亮</string>
		<key>Sub</key>
		<array>
			<dict>
				<key>FilterName</key>
				<string>亮度</string>
				<key>FilterClassName</key>
				<string>GPUImageBrightnessFilter</string>
				<key>ArgumentName</key>
				<string>brightness</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-1</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>曝光</string>
				<key>FilterClassName</key>
				<string>GPUImageExposureFilter</string>
				<key>ArgumentName</key>
				<string>exposure</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-10</integer>
				<key>Max</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>伽马</string>
				<key>FilterClassName</key>
				<string>GPUImageGammaFilter</string>
				<key>ArgumentName</key>
				<string>gamma</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>不透明性</string>
				<key>FilterClassName</key>
				<string>GPUImageOpacityFilter</string>
				<key>ArgumentName</key>
				<string>opacity</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>阴影</string>
				<key>FilterClassName</key>
				<string>GPUImageHighlightShadowFilter</string>
				<key>ArgumentName</key>
				<string>shadows</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>高光</string>
				<key>FilterClassName</key>
				<string>GPUImageHighlightShadowFilter</string>
				<key>ArgumentName</key>
				<string>highlights</string>
				<key>Default</key>
				<integer>1</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>效果</string>
		<key>Sub</key>
		<array>
			<dict>
				<key>FilterName</key>
				<string>灰度</string>
				<key>FilterClassName</key>
				<string>GPUImageGrayscaleFilter</string>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>复古</string>
				<key>FilterClassName</key>
				<string>GPUImageSepiaFilter</string>
				<key>ArgumentName</key>
				<string>intensity</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>颜色反转</string>
				<key>FilterClassName</key>
				<string>GPUImageColorInvertFilter</string>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>清晰</string>
				<key>FilterClassName</key>
				<string>GPUImageSharpenFilter</string>
				<key>ArgumentName</key>
				<string>sharpness</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>-4</integer>
				<key>Max</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>浮雕</string>
				<key>FilterClassName</key>
				<string>GPUImageEmbossFilter</string>
				<key>ArgumentName</key>
				<string>intensity</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>半色调</string>
				<key>FilterClassName</key>
				<string>GPUImageHalftoneFilter</string>
				<key>ArgumentName</key>
				<string>fractionalWidthOfAPixel</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>像素</string>
				<key>FilterClassName</key>
				<string>GPUImagePixellateFilter</string>
				<key>ArgumentName</key>
				<string>fractionalWidthOfAPixel</string>
				<key>Default</key>
				<integer>0</integer>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>色彩滤镜</string>
				<key>FilterClassName</key>
				<string>GPUImageCGAColorspaceFilter</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryName</key>
		<string>专业</string>
		<key>Sub</key>
		<array>
			<dict>
				<key>FilterName</key>
				<string>色彩腐蚀</string>
				<key>FilterClassName</key>
				<string>GPUImageRGBErosionFilter</string>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>色彩模糊</string>
				<key>FilterClassName</key>
				<string>GPUImageRGBClosingFilter</string>
			</dict>
			<dict>
				<key>FilterName</key>
				<string>光阈值</string>
				<key>FilterClassName</key>
				<string>GPUImageLuminanceThresholdFilter</string>
				<key>ArgumentName</key>
				<string>threshold</string>
				<key>Default</key>
				<real>0.5</real>
				<key>Min</key>
				<integer>0</integer>
				<key>Max</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
